$left-container: #261771;
$user-hover: #1E1162;
$border-color: rgb(71, 71, 71);
$button-color: rgb(49, 150, 50);
$button-color-hover: rgb(42, 129, 43);
$top-heading: #1E201E;
$bottom-right: #EFEEF7;
$icon-color: rgb(114, 114, 114);
$icon-color-hover: rgb(34, 34, 34);