@import "./_variables.scss";
@import "./_placeholders.scss";
@import "./_mixins.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Overlock', cursive;
}

.container {
  display: flex;
  height: 100%;

  //        Left-Container
  // ===============================
  .left-container {
    background: $left-container;
    flex: 1;
    display: flex;
    flex-direction: column;
  
    .header-left {
      border-bottom: 0.5px solid $border-color;
      box-shadow: 0px 0px 6px;
      @extend %header-bottom;

      button {
        background: $button-color;
        border: none;
        border-radius: 5%;
        color: white;
        padding: 0.3em 0.5em;
        font-size: 1em;
        cursor: pointer;

        &:hover {
          background: $button-color-hover;
        }
      }
    }
  
    .users-container {
      flex: 8;
      display: flex;
      flex-direction: column;
      // max-width: 20vw;
      // overflow-y: scroll;
      overflow-y: hidden;

      &:hover {
        overflow-y: overlay;
      }

      .each-user {
        display: flex;
        align-items: center;
        // border-bottom: 2px solid black;
        padding: 1vw;
        cursor: pointer;
        transition: background 0.2s ease-in;

        &:hover {
          background: $user-hover;
        }

        .avatar {
          align-self: flex-start;
          border-radius: 50%;
          background: $button-color;
          cursor: pointer;
          position: relative;
          text-align: center;
          
          i {
            color: white;
            padding: 0.6vw;
            font-size: 1.2vw;
            margin: 0;
          }
        }

        .name {
          flex: 1;
          display: flex;
          align-items: center;

          .username {
            color: white;
            margin-left: 1vw;
          }

          i {
            color: $button-color;
            font-size: 0.8vw;
            margin: 0;
            margin-left: auto;
            justify-self: flex-end;
          }
        }
      }
    }
  
    .bottom-left {
      border-top: 0.5px solid $border-color;
      box-shadow: 0px 0px 6px;
      @extend %header-bottom;

      .create-room {
        border-radius: 50%;
        background: $button-color;
        padding: 0.6em;
        cursor: pointer;

        &:hover {
          background: $button-color-hover;
        }

        i {
          color: white;
          font-size: 1.5em;
          margin: 0;
        }
      }
    }
  }

  //        middle-Container
  // ===============================
  .middle-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    position: relative;
  
    .header-middle {
      border-bottom: 0.5px solid $border-color;
      box-shadow: 0px 0px 6px;
      @extend %header-bottom;

      h2 {
        color: $top-heading;
        margin-right: auto;
      }
    }
  
    .messages-container {
      flex: 8;
      display: flex;
      flex-direction: column;
      padding: 0.5vw 1vw;
      overflow-y: scroll;
      // max-width: 80vw;

      .each-message {
        display: flex;
        margin-bottom: 1.5vw;
        position: relative;

        .avatar {
          align-self: flex-start;
          border-radius: 50%;
          background: $button-color;
          cursor: pointer;
          position: relative;
          text-align: center;
          
          i {
            color: white;
            padding: 1vw;
            margin: 0;
          }
        }
        .message {
          display: flex;
          flex-direction: column;
          margin: 0 1vw;
          width: 100%;

          .name-time {
            display: flex;
            align-items: center;

            .username {
              font-weight: bold;
              margin-bottom: .3vw;
            }
            span {
              margin-left: 2%;
              font-size: 80%;
              color: grey;
            }
          }
          // .text {
          //   // line-height: 1.5vw;
          // }
        }
        .time {
          align-self: center;
        }
      }
    }
  
    .bottom-middle {
      border-top: 0.5px solid $border-color;
      box-shadow: 0px 0px 6px;
      background: #EFEEF7;
      @extend %header-bottom;

      i {
        font-size: 1.7em;
      }
      input {
        width: 90%;
        font-size: 1em;
        padding: .5em;
        outline: none;
        margin-right: .8em;
      }
      button {
        border: none;
        background: none;
      }
    }
  }

  //        Right-Container
  // ===============================
  .right-container {
    background: $left-container;
    flex: 1;
    display: flex;
    flex-direction: column;
  
    .header-right {
      border-bottom: 0.5px solid $border-color;
      box-shadow: 0px 0px 6px;
      display: flex;
      flex: 1;
      align-items: center;
      // justify-content: flex-end;

      input {
        flex: 3;
        outline: none;
        padding: 0.5em;
        margin-left: 2em;
        margin-right: 0.2em;
        background: $user-hover;
        color: white;
        border: 1px solid $icon-color;

        &:focus {
          border: 1px solid $bottom-right;
        }
      }
      button {
        flex: 1;
        border: none;
        background: none;

        i {
          font-size: 1.5em;

          &:hover {
            color: white;
          }
        }
      }
    }
  
    .rooms-container {
      flex: 8;
      display: flex;
      flex-direction: column;
      // max-width: 20vw;
      // overflow-y: scroll;
      overflow-y: hidden;

      &:hover {
        overflow-y: overlay;
      }

      .each-room {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid black;
        padding: 1vw;
        cursor: pointer;
        transition: background 0.2s ease-in;

        p {
          color: white;
        }
        span {
          color: grey;
          font-size: 90%;
        }

        &:hover {
          background: $user-hover;
        }
      }
    }

    .bottom-right {
      border-top: 0.5px solid $border-color;
      box-shadow: 0px 0px 6px;
      @extend %header-bottom;
      justify-content: flex-end;

      .generateURL {
        background: $button-color;
        padding: 0.6em;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;

        &:hover {
          background: $button-color-hover;
        }
      }
    }
  }
}

i {
  font-size: 1.5vw;
  color: $icon-color;
  margin-right: .8em;
  cursor: pointer;

  &:hover {
    color: $left-container;
  }
}
button {
  outline: none;  
}

.users-container::-webkit-scrollbar, .rooms-container::-webkit-scrollbar { 
  background-color: dark;
  width: 0.6em;
}
.users-container::-webkit-scrollbar-track, .rooms-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.1em $left-container; 
  border-radius: 10px;
}
.users-container::-webkit-scrollbar-thumb, .rooms-container::-webkit-scrollbar-thumb {
  background-color: $user-hover;
}
.users-container::-webkit-scrollbar-thumb:hover, .rooms-container::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

// .search-box {
//   input {
//     width: 5vw;
//     box-sizing: border-box;
//     display: inline-block;
//     color: white;
//     border: none;
//     z-index: 2147483647;
//     font-size: 1rem;
//     margin: 0;
//     background-color: transparent;
//     // background-image: url('../../images/container-bg.png');
//     background-position: 8px 6px;
//     background-size: 18px; 
//     background-repeat: no-repeat;
//     padding: 6px 15px;
//     cursor: pointer;
//     transition: width 0.2s ease-out;
//     overflow: hidden;
//   }
//   input:focus {
//     width: 18vw;
//     z-index: 2147483647;
//     transition: width 0.5s ease-in-out;
//     background-color: black;
//     border: 1px solid #fff;
//     cursor: initial;
//     padding: 6px 20px 6px 40px;
//     outline: none;
//   }
// }